<h1 class="icon-orderSalesManagement"><span>Order History</span></h1>
<% if @order_buyers.present? %>
  <div class="tablebox table-orderHistory">		
    <div class="row">
      <div class="column">Order No.</div>
      <div class="column">Date</div>
      <div class="column">Product</div>
      <div class="column">Quantity</div>
      <div class="column">Total Value(inc. VAT)</div>
      <div class="column">Payment Mode</div>
      <div class="column last">Status</div>
    </div>
    <% @order_buyers.each_with_index do |order, index| %>
      <div class="row">
        <div class="column"><%= index+1 %></div>
        <div class="column"><%= order.created_at.strftime("%d/%m/%Y")%></div>
        <div class="column"><%= order.line_item.product.title %></div>
        <div class="column"><%= order.line_item.quantity %></div>
        <div class="column"><%= number_to_currency(order.net_payment) %></div>
        <div class="column"><%= order.payment_type.present? ? order.payment_type : "-"%></div>
        <div class="column"><%= order.status %></div>
      </div>
    <% end %>
  </div>
  <span class="pagination" style='float: right;'><%= will_paginate @order_buyers, :param_name => 'order_buyer', :next_label => "Next", :previous_label => 'Prev', :page_links => false %></span>
<% end %>
<%= render :partial => '/profiles/pagination_script' %>
