<h1 class="icon-orderSalesManagement"><span>Order &amp; Sales Management</span></h1>
<% if @order_sellers.present? %>
  <div class="tablebox table-orderHistory">
    <div class="row">
      <div class="column">Sale ID</div>
      <div class="column">Buyer Name</div>
      <div class="column">Order amount</div>
      <div class="column">Admin commission</div>
      <div class="column">Non Profit Share</div>
      <div class="column">Net $</div>
      <div class="column last">Purchase Date</div>
      <div class="column">Status</div>
      <div class="column last">Actions</div>
    </div>
    <% @order_sellers.each_with_index do |order, index| %>
      <div class="row">
        <div class="column"><%= index+1 %></div>
        <div class="column"><%= order.user.username %></div>
        <div class="column"><%= number_to_currency(order.line_item.full_price) %></div>
        <div class="column"><%= number_to_currency(order.admin_payment) %></div>
        <div class="column"><%= number_to_currency(order.non_profit_payment) %></div>
        <div class="column"><%= number_to_currency(order.net_payment) %></div>
        <div class="column"><%= order.cart.purchased_at.strftime("%Y-%m-%d") %></div>
        <div class="column"><%= order.status %></div>
        <div class="column last">
          <%= link_to image_tag("/assets/user-images/icon-trolly.png"), shipping_line_item_order_path(order.line_item,order), :method => 'PUT', :alert => "ssss", :class => 'icon-trolly' %>
          <a title="" href="#"><img class="icon-pdf" alt="PDF" title="PDF" src="/assets/user-images/icon-pdf.png" /></a>
        </div>
      </div>
    <% end %>
  </div>
  <span class="pagination" style='float: right;'><%= will_paginate @order_sellers, :param_name => 'order_seller', :next_label => "Next", :previous_label => 'Prev', :page_links => false %></span>
<% end %>
<%= render :partial => '/profiles/pagination_script' %>