<%= form_for current_user, :url => change_password_profile_path(current_user) do |f|  %>
  <div class="bar">
    <label for="old-password">Old Password</label>
    <%= f.password_field :current_password,:id=>"old-password" %>
    <br /><span><%= validation_error(current_user.errors["current_password"]) %></span>
  </div>
  <div class="bar">
    <br /><label for="new-password">New Password</label>
    <%= f.password_field :password,:id=>"new-password" %>
    <br /><span><%= validation_error(current_user.errors["password"]) %></span>
  </div>
  <div class="bar">
    <br /><br /><label for="confirm-password">Confirm New Password</label>
    <%= f.password_field :password_confirmation,:id=>"confirm-password" %>
    <br /><span><%= validation_error(current_user.errors["password_confirmation"]) %></span>
  </div>
  <div class="action">
    <br /><br /><br /><button class="submit" type="submit">Save</button>
  </div>
<% end %>