<%= form_for current_user, :url => change_password_profile_path(current_user), :remote => true do |f|  %>
  <ul style="margin-left: -36px;width: 355px;padding: 0px 40px;">
    <% current_user.errors.full_messages.each_with_index do |msg, index| %>
      <li style="color: red;line-height: 20px;"><%= index+1 %>. <%= msg %></li>
    <% end %>
  </ul>
  <span id='success' style='color: green; display: none;'>Password changed Successfully</span>
  <div class="frow">
    <div><%= f.label :current_password, "Current Password:#{mark}".html_safe %></div>
    <div><%= f.password_field :current_password ,:id=>"old-password" %></div>
  </div>
  <div class="frow">
    <div><%= f.label :password, "New Password:#{mark}".html_safe %></div>
    <div><%= f.password_field :password ,:id=>"new-password" %></div>
  </div>
  <div class="frow">
    <div><%= f.label :password_confirmation, "Confirm Password:#{mark}".html_safe %></div>
    <div><%= f.password_field :password_confirmation ,:id=>"confirm-password" %></div>
  </div>
  <input class="fright" type="submit" value="Save" />
<% end %>
