<%= form_for current_user, :url => change_password_profile_path(current_user) do |f|  %>
  <div class="frow">
    <div>Current Password</div>
    <div><%= f.password_field :current_password,:id=>"old-password" %></div>
    <div><%= validation_error(current_user.errors["current_password"]) %></div>
  </div>
  <div class="frow">
    <div>New Password</div>
    <div><%= f.password_field :password,:id=>"new-password" %></div>
    <div><%= validation_error(current_user.errors["password"]) %></div>
  </div>
  <div class="frow">
    <div>Confirm Password</div>
    <div><%= f.password_field :password_confirmation,:id=>"confirm-password" %></div>
    <div><%= validation_error(current_user.errors["password_confirmation"]) %></div>
  </div>
  <input class="fright" type="submit" value="Save" />
<% end %>