<%= form_for @user, :url => profile_update_profile_path(@user), :method => 'PUT' do |f| %>
  <%= render :partial => '/layouts/error_messages', :locals => {:resource => @user} %>
  <% if (@user.role == "buyer" or @user.role == 'non-profit') %>
    <div class="frow">
      <div><%= f.label :first_name, "First Name:#{mark}".html_safe %></div>
      <div><%= f.text_field :first_name %></div>
    </div>
    <div class="frow">
      <div><%= f.label :last_name, "Last Name:#{mark}".html_safe %></div>
      <div><%= f.text_field :last_name %></div>
    </div>
    <div class="frow">
      <div>Gender</div>
      <div>
        <%= f.radio_button :gender, "Male", :checked => true %>Male
        <%= f.radio_button :gender , "Female"%>Female
      </div>
    </div>
  <% end %>
  <% if (@user.role == "buyer") %>
    <div class="frow">
      <div><%= f.label :date_of_birth, "Date of Birth:#{mark}".html_safe %></div>
      <div><%= f.text_field :date_of_birth, :value => (@user.date_of_birth ? @user.date_of_birth.strftime("%d-%m-%Y") : ""), :id => 'calendar' %></div>
    </div>
    <%= render :partial => 'dates' %>
    <div class="frow">
      <div><%= f.label :city, "City:#{mark}".html_safe %></div>
      <div><%= f.text_field :city %></div>
    </div>

    <div class="frow">
      <div>Country</div>
      <div><%= f.country_select :country %></div>
    </div>

    <div class="frow">
      <div><%= f.label :zip, "Zip:#{mark}".html_safe %></div>
      <div><%= f.text_field :zip %></div>
    </div>

  <% elsif @user.role == 'seller' %>

    <div class="frow">
      <div><%= f.label :business_name, "Business Name:#{mark}".html_safe %></div>
      <div><%= f.text_field :business_name %></div>
    </div>

    <div class="frow">
      <div><%= f.label :business_address, "Business Address:" %></div>
      <div><%= f.text_field :business_address %></div>
    </div>

    <div class="frow">
      <div><%= f.label :store_image, "Store Image" %></div>
      <div><%= f.file_field :store_image %></div>
    </div>

    <div class="frow">
      <div><%= f.label :website_url, "Website:" %></div>
      <div><%= f.text_field :website_url %></div>
    </div>

    <div class="frow">
      <div><%= f.label :paypal_id, "Paypal Id:#{mark}".html_safe %></div>
      <div><%= f.text_field :paypal_id %></div>
    </div>
    <div class="frow">
      <div>Other Info</div>
      <div><%= f.text_field :other_info %></div>
    </div>
  <% end %>
  <div class="frow">
    <div>Avatar</div>
    <div><%= f.file_field :avatar %></div>
  </div>
  <div class="frow">
    <div>Email Id</div>
    <div><%= f.text_field :email, :readonly => true %></div>
  </div>
  <div class="frow">
    <div>Phone</div>
    <div><%= f.text_field :phone %></div>
  </div>
  <div class="frow">
    <div><img alt="" title="" src="/assets/user-images/spacer.png" /></div>
    <div><input type="submit" title="Submit" value="Save" /></div>
  </div>
<% end %>