<div class="commonrow">
  <div class="box-graph">
    <ul>
      <li>
        <div class="img-graph"><%= image_tag("/assets/user-images/dummy-graph.png")%></div>
        <span class="color-orange"><%= number_to_currency(@sale) %></span>
        Total sales today
      </li>
      <li>
        <div class="img-graph"><%= image_tag("/assets/user-images/dummy-graph.png")%></div>
        <span class="color-orange"><%= number_to_currency(@admin_payment) %></span>
        Commission to Admin
      </li>
      <li>
        <div class="img-graph"><%= image_tag("/assets/user-images/dummy-graph.png")%></div>
        <span class="color-orange"><%= number_to_currency(@non_profit_payment) %></span>
        Sent to Non Profit
      </li>
      <li>
        <div class="img-graph"><%= image_tag("/assets/user-images/dummy-graph.png")%></div>
        <span class="color-blue"><%= number_to_currency(@net_payment) %></span>
        Net earning today
      </li>
    </ul>
  </div>
  <div class="box-latestCustomer">
    <h1 class="icon-topSellingToday"><span>Top Selling Today</span></h1>
    <div id="top_selling">
      <%= render :partial => 'top_selling' %>
    </div>
  </div>
  <div class="box-latestCustomer">
    <h1 class="icon-latestCustomer"><span>Latest Customer</span></h1>
    <div id='order_customer'>
      <%= render :partial => 'latest_customers' %>
    </div>
  </div>
</div>
<div class="box-salesGraph">
  <h1 class="icon-topSellingToday"><span>Sales Graph</span></h1>
  <div class="tablebox topSellingToday">
    <div class="row">
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="img-graph-1">
        <div id="container" style="height: 400px; min-width: 100px"></div>
        <script>
          $(function() {
            $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?', function(data) {
              $('#container').highcharts('StockChart', {
                rangeSelector: {
                  selected: 2
                },
                series: [{
                    name: 'Sales',
                    data: [<%= @sale %>, <%= @admin_payment %>,<%= @non_profit_payment %>,<%= @net_payment %>],
                    marker: {
                      enabled: true,
                      radius: 3
                    },
                    shadow: true,
                    tooltip: {
                      valueDecimals: 2
                    }
                  }]
              });
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
<div class="rightColumn-dashboard">
  <div class="commonrow">
    <h1 class="icon-dateRange"><span>Date Range</span></h1>
    <div class="tablebox topSellingToday">
      <div class="row"></div>
      <div class="row">
        <ul class="list-date">
          <li>Past 7 days</li>
          <li>Past 30 days</li>
          <li>This Week</li>
          <li>This Month</li>
          <li>All Time</li>
        </ul>
      </div>
    </div>
  </div>
  <h1 class="icon-thisWeek"><span>This Week</span></h1>
  <div class="tablebox topSellingToday">
    <div class="row"></div>
    <div class="row">
      <h3 class="heading-week"><%= number_to_currency((1.weeks.ago.to_date..Date.today).map{|date| Order.where("receiver_id = #{current_user.id}").sum{|a| a.net_payment.to_i}}.first) %></h3>
      Avg: <%= number_to_currency((1.weeks.ago.to_date..Date.today).map{|date| Order.where("receiver_id = #{current_user.id}").sum{|a| a.net_payment.to_i/7}}.first) %> /order
    </div>
  </div>
</div>