<h1>Update Profile</h1>
<div id="formDiv">
  <%= form_for @user, :url => profile_update_profile_path(@user), :method => 'PUT' do |f| %>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
      <%= validation_error(@user.errors['first_name']) %>
    </p>

    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
      <%= validation_error(@user.errors['last_name']) %>
    </p>

    <p>
      <%= f.label :avatar, "Image" %>
      <%= image_tag(@user.avatar.url(:original), :width => '50px', :height => '50px') %>
      <%= f.file_field :avatar %>
    </p>

    <p>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= validation_error(@user.errors['username']) %>
    </p>

    <p>
      <%= f.radio_button :gender, "Male" %>Male
      <%= f.radio_button :gender , "Female"%>Female
      <%= f.radio_button :gender ,"Rather not say"%>Rather not say
      <%= validation_error(@user.errors['gender']) %>
    </p>
    <p>
      <button type="submit">Update</button>
    </p>
  <% end %>
</div>