<div class="box-signupSeller">
  <div class="signupBox">
    <h4>Sign Up as <%= params[:user][:role].capitalize %>
      <span style="float: right;left: -10px;position: relative;"><%= render :partial => "/devise/shared/signin" if params[:user][:role] == 'buyer' %></span>
    </h4>
    <div class="loginSeller">
      <div id="formDiv">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= render :partial => '/layouts/error_messages', :locals => {:resource => resource} %>
          <%= render :partial => '/users/form', :locals => {:f => f} %>
        <% end %>
      </div>
    </div>
  </div>
</div>