<h1 class="icon-orderSalesManagement"><span>Sales Management</span></h1>
<div class="tablebox table-salesManagement">
  <div class="row">
    <div class="column">ID</div>
    <div class="column">Seller Name</div>
    <div class="column">User Name</div>
    <div class="column">Non Profit</div>
    <div class="column">Amount</div>
    <div class="column">Status</div>
  </div>
  <% for order in @orders %>
    <div class="row">
      <div class="column"><%= order.id %></div>
      <div class="column"><%= order.line_item.product.user.username %></div>
      <div class="column"><%= order.user.email %></div>
      <div class="column"><%= order.line_item.product.non_profit_cause.present? ? (order.line_item.product.non_profit_cause) : "-" %></div>
      <div class="column"><%= number_to_currency(order.net_payment) %></div>
      <div class="column last"><%= order.shipping.present? ? (order.shipping) : "In process" %></div>
    </div>
  <% end %>
</div>
<span class="pagination" style='float: right;'><%= will_paginate @orders, :param_name => 'order_page', :next_label => "Next", :previous_label => 'Prev', :page_links => false %></span>
<%= render :partial => '/profiles/pagination_script' %>