<ul class="menu-dashboard">
  <li class="img-order">
    <div>
      <h4><%= Order.where("status = 'Success'").count %><br><span>Orders</span></h4>
      <%= link_to "VIEW MORE", "", :class => "link-viewmore" %>
    </div>
  </li>
  <li class="img-users">
    <div>
      <h4><%= User.where("role = 'buyer'").count %><br><span>Users</span></h4>
      <%= link_to "VIEW MORE", buyer_admins_path(), :class => "link-viewmore" %>
    </div>
  </li>
  <li class="img-revenue">
    <div>
      <h4>$<%= Order.where("status = 'Success'").sum {|item| item.line_item.product.price.to_i} %><br><span>Revenue</span></h4>
      <%= link_to "VIEW MORE", "", :class => "link-viewmore" %>
    </div>
  </li>
  <li class="img-nonProfit">
    <div>
      <h4><%= User.where("role = 'non-profit'").count %><br><span>Non-Profit</span></h4>
      <%= link_to "VIEW MORE", non_profit_admins_path(), :class => "link-viewmore" %>
    </div>
  </li>
  <li class="img-sellers">
    <div>
      <h4><%= User.where("role = 'seller'").count %><br><span>Sellers</span></h4>
      <%= link_to "VIEW MORE", seller_admins_path(), :class => "link-viewmore" %>
    </div>
  </li>
</ul>

<div class="commonrow">
  <div class="dashboardColumn">
    <h1 class="icon-newUserAnalytics"><span>New User Analytics</span></h1>
    <div class="tablebox table-newUserAnalytics">
      <div class="row">
        <div class="column">.</div>
      </div>
      <div class="row">
        <div class="img-graph-1">
          <div id="flot-gradient-line" style="min-height: 300px;"></div><br />
        </div>
        <script type="text/javascript">
          jQuery(function($) {
            flot_line('flot-gradient-line', flot_options_line,<%= @likesqw %>,<%= @likesqw1 %>);
          });
        </script>
      </div>
    </div>
  </div>
</div>
<div class="dashboardColumn" style="float: right;margin-right: -10px;margin-top: -429px;position: relative;width: 44%;">
  <h1 class="icon-latestOrders"><em><a title="View All" href="#">View All</a></em><span>Latest Orders</span></h1>
  <div class="tablebox table-newUserAnalytics">
    <div class="row">
      <div class="column">.</div>
    </div>
    <div class="row">
      <ul class="list-latestOrders">
        <% for order in @orders %>
          <li>
            <div class="column-first"><%= link_to (order.id.to_s+' '+order.user.username), ""%></div>
            <div class="column-two">
              <%= order.status == 'Success' ? ("<input class='btn-orange' type='submit' title='PAID' value='PAID' />".html_safe) : ("<input class='btn-blue' type='submit' title='CANCELLED' value='CANCELLED' />".html_safe) %>
            </div>
            <div class="column-three"><%= number_to_currency(order.net_payment)%></div>
          </li>
        <% end %>
      </ul>
      <div class="clearFix"></div>
    </div>
  </div>
</div>
</div>
<div class="commonrow">
  <div class="dashboardColumn">
    <h1 class="icon-latestProductRequests"><em><a title="View All" href="#">View All</a></em><span>Latest Product Requests</span></h1>
    <div class="tablebox table-latestProductRequests">
      <div class="row">
        <div class="column">Seller Name</div>
        <div class="column">Product</div>
        <div class="column">Quantity</div>
        <div class="column">Price</div>
        <div class="column">Actions</div>
      </div>
      <% for product in @pending_products %>
        <div class="row">
          <div class="column"><%= product.user.username %></div>
          <div class="column"><%= product.title%></div>
          <div class="column"><%= product.qty %></div>
          <div class="column">$<%= product.price%></div>
          <div class="column">
            <%= link_to "<input class='btn-blue' type='submit' title='PAID' value='Confirm' />".html_safe, confirm_product_admin_path(product), :method => 'put', :class => 'button', :style => 'text-decoration: none;' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="dashboardColumn">
    <h1 class="icon-enquiries"><em><a title="View All" href="#">View All</a></em><span>Enquiries</span></h1>
    <div class="tablebox table-enquiries">
      <div class="row">
        <div class="column">.</div>
      </div>
      <div class="row">
        <div class="column"><a title="Customer Enquiry" href="#">Customer Enquiry</a><input class="btn-blue" type="submit" title="New" value="New" /></div>
        <div class="column">Today at 4:30</div>
      </div>
      <div class="row">
        <div class="column">Another Customer Enquiry</div>
        <div class="column">Yesterday at 4:30</div>
      </div>
      <div class="row">
        <div class="column">A final Customer Enquiry</div>
        <div class="column">22nd June 2013</div>
      </div>
      <div class="row">
        <div class="column">A final Customer Enquiry</div>
        <div class="column">2nd may 2013</div>
      </div>
    </div>
  </div>
</div>