<h1><%= params[:role] %>s</h1>
<div id="formDiv">

  <% if !@users.to_a.empty? %>
    <table id="line_items" width="95%" cellspacing="10px;">
      <tr style="text-decoration: underline;">
        <th class="price">User Name</th>
        <th>Email</th>
        <th>Role</th>
        <th class="price">Created At</th>
        <th class="price"></th>
      </tr>
      <% for user in @users %>
        <tr style="text-align: center;">
          <td><%= user.username %></td>
          <td class="qty"><%= user.email %></td>
          <td class="price"><%= user.role %></td>
          <td class="price"><%= user.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= link_to "Edit", edit_user_path(user) %> | <%= link_to 'Delete', user_path(user), :method => :delete, :confirm => "Are you Sure" %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div style="color:red;font-size: 15px;padding: 50px;text-align:center">
      No <%= params[:role] %>s
    </div>
  <% end %>
</div>