<h1 class="icon-productsManagement">Product Requests</h1>
<div class="tablebox table-orderHistory">
  <div class="row">
    <div class="column">ID</div>
    <div class="column">Product Name</div>
    <div class="column">Colors</div>
    <div class="column">Posted on</div>
    <div class="column">Price</div>
    <div class="column">Qty Sold</div>
    <div class="column">Qty Remaining</div>
    <div class="column last">Actions</div>
  </div>
  <% for product in @products %>
    <div class="row">
      <div class="column"><%= product.id %></div>
      <div class="column"><%= product.title %></div>
      <div class="column"><%= product.color %></div>
      <div class="column"><%= product.created_at.strftime("%Y-%m-%d") %></div>
      <div class="column">$<%= product.price %></div>
      <div class="column"><%= product.qty_sold %></div>
      <div class="column"><%= product.qty %></div>
      <div class="column last">
        <%= link_to image_tag("/assets/admin-images/icon-search.png", :class => "icon-search"), product_path(product) %>&nbsp;&nbsp;
        <%= link_to image_tag("/assets/user-images/icon-edit.png", :class => "icon-search"), edit_product_path(product) %>&nbsp;&nbsp;
        <%= link_to image_tag("/assets/user-images/icon-close.png", :class => "icon-search"), product_path(product), :method => :delete, :confirm => "Are you sure." %>
      </div>
    </div>
  <% end %>
</div>