<h1 class="icon-productsManagement"><span>Seller Management</span></h1>
<div class="tablebox table-orderHistory">
  <div class="row">
    <div class="column">ID</div>
    <div class="column">Seller Name</div>
    <div class="column">Company Name</div>
    <div class="column">Email</div>
    <div class="column">Phone</div>
    <div class="column">Total Sales</div>
    <div class="column">Commission</div>
    <div class="column last">Options</div>
  </div>
  <% @users.each_with_index do |user, index| %>
    <div class="row">
      <div class="column"><%= index+1 %></div>
      <div class="column"><%= user.username %></div>
      <div class="column"><%= user.business_name.present? ? user.business_name : "-"%></div>
      <div class="column"><%= user.email %></div>
      <div class="column"><%= user.phone.present? ? user.phone : "-"%></div>
      <div class="column">$<%= Product.where("products.user_id = #{user.id}").sum {|item| item.price.to_i} %></div>
      <div class="column">$<%= Product.where("products.user_id = #{user.id}").sum {|item| item.price.to_i/10} %></div>
      <div class="column last">
        <%= user.confirmation_token.nil? ? (link_to "<input class='btn-deActivate' type='submit' title='De Activate' value='Suspend' />".html_safe, {:controller => 'users', :action => 'update', :id => user.id, :role => user.role, :active => 'Deactive'}, :method => :put, :style => 'text-decoration: none;') : (link_to "<input class='btn-activate' type='submit' title='Activate' value='Approve' />".html_safe, {:controller => 'users', :action => 'update', :id => user.id, :role => user.role, :active => 'Active'}, :method => :put, :style => 'text-decoration: none;')%>
      </div>
    </div>
  <% end %>
</div>
