<table>
  <tr class="row">
    <td><%= f.label :promo_code, "Promotion Code:#{mark}".html_safe %></td>
    <td><%= f.text_field :promo_code %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= validation_error(@promo.errors['promo_code'])%></td>
  </tr>
  <tr class="row">
    <td><%= f.label :price, "Discount Amount#{mark}".html_safe %></td>
    <td><%= f.text_field :price %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= validation_error(@promo.errors['price'])%></td>
  </tr>
  <tr class="row">
    <td></td>
    <td>
      <div><input type="submit" title="Submit" value="Submit" /></div>
    </td>
  </tr>
</table>