<div class="logo-big"><%= link_to image_tag("/assets/logo-big.png"), "/" %></div>
<div class="box-signupSeller">
  <%= form_for(@user, :url => buyer_create_users_path(), :html => {:method => 'post'}, :remote => true) do |f| %>
    <div class="signupBox">
      <h4>Sign Up as User</h4>
      <div class="loginSeller">
        <ul class="list-leftColumn">
          <li>
            <p>First Name</p>
            <%= f.text_field :first_name %>
          </li>
          <li>
            <p>Last Name</p>
            <%= f.text_field :last_name %>
          </li>
          <li>
            <p>Email</p>
            <%= f.email_field :email %>
            <ul class="list-gender">
              <%= f.radio_button :gender, "Male" %>Male
              <%= f.radio_button :gender , "Female"%>Female
            </ul>
          </li>
        </ul>
        <ul class="list-leftColumn">
          <li>
            <p>User Name</p>
            <%= f.text_field :username,:onBlur => "get_username(this)" %>
            <span id="username" style="display: none;color: green;">Available</span>
            <span class="error" style="display: none;color: red;">Not Available</span>
          </li>
          <li>
            <p>Password</p>
            <%= f.password_field :password %><span class="success"></span>
          </li>
          <li>
            <p>Confirm Password</p>
            <%= f.password_field :password_confirmation %>
          </li>
        </ul>
        <div class="clearFix"></div>
      </div>
      <div class="signupSellerBox">
        <input class="btn-signup" type="submit" title="Sign Up" value="Sign Up" />
      </div>
      <div class="clearFix"></div>
    </div>
  <% end %>
</div>
<div id="text" style="color: green;"></div>
<style>
  .success{
    margin-left:5px;
  }

  .box-signupSeller .short{
    color:#FF0000;
  }
  .box-signupSeller .strong, #new_user .strong{
    background-image: url(/assets/green_check_mark.png);
    height: 15px;
    width: 18px;
  }
</style>