<%= params[:role] ? (f.hidden_field :role, :value => params[:role]) : (f.hidden_field :role, :value => params[:user][:role]) %>
<ul class="list-leftColumn">
  <li>
    <p><%= f.label :first_name, "First Name:#{mark}".html_safe %></p>
    <%= f.text_field :first_name, :placeholder => "First Name" %>
  </li>
  <li>
    <p><%= f.label :last_name, "Last Name#{mark}".html_safe %></p>
    <%= f.text_field :last_name, :placeholder => "Last Name" %>
  </li>
  <li>
    <p><%= f.label :email, "E-mail#{mark}".html_safe %></p>
    <%= f.email_field :email, :placeholder => "E-mail" %>
    <ul class="list-gender">						
      <li><%= f.radio_button :gender, "Male" %>&nbsp;Male</li>
      <li><%= f.radio_button :gender , "Female"%>&nbsp;Female</li>
      <li><%= f.radio_button :gender ,"Rather not say"%>&nbsp;Rather not say</li>
    </ul>	
    <input type="checkbox" title="I agree to the Terms and Conditions" /> I agree to the <a class="link-blue" href="#" title="Terms and Conditions">Terms and Conditions</a>
  </li>
</ul>
<ul class="list-leftColumn">
  <li>
    <p><%= f.label :username, "Username#{mark}".html_safe %></p>
    <%= f.text_field :username,:onBlur => "get_username(this)", :placeholder => "Username" %>
    <label class="error" style="display: none;">Not Available</label>
    <label class="success" style="display: none;">Available</label>
  </li>
  <li>
    <p><%= f.label :password, "Password#{mark}".html_safe %></p>
    <%= f.password_field :password, :placeholder => "Password" %><span id="result"></span>
  </li>
  <li>
    <p><%= f.label :password_confirmation, "Password Confirmation#{mark}".html_safe %></p>
    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
  </li>
</ul>
<div class="clearFix"></div>
</div>
<div class="signupSellerBox">
  <input class="btn-signup" type="submit" title="Sign Up" value="Sign Up" /><div>
  </div>
</div>
<div class="clearFix"></div>
<style>
  h2{
    display: none;
  }
  #result{
    margin-left:5px;
  }

  .loginSeller .short{
    color:#FF0000;
  }

  .loginSeller .strong{
    color:#006400;
  }
</style>