<%= params[:role] ? (f.hidden_field :role, :value => params[:role]) : (f.hidden_field :role, :value => params[:user][:role]) %>
<table width="100%" style="line-height: 50px;">
  <tr>
    <td><%= f.label :first_name, "First Name<span style='color: red;'>*</span>".html_safe %></td>
    <td><%= f.text_field :first_name, :placeholder => "First Name" %></td>
  </tr>
  <tr>
    <td><%= f.label :last_name, "Last Name<span style='color: red;'>*</span>".html_safe %></td>
    <td><%= f.text_field :last_name, :placeholder => "Last Name" %></td>
  </tr>
  <tr>
    <td><%= f.label :username, "Username<span style='color: red;'>*</span>".html_safe %></td>
    <td>
      <%= f.text_field :username,:onBlur => "get_username(this)", :placeholder => "Username" %>
      <label class="error" style="display: none;">Not Available</label>
      <label class="success" style="display: none;">Available</label>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= f.radio_button :gender, "Male" %>&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :gender , "Female"%>&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.radio_button :gender ,"Rather not say"%>&nbsp;Rather not say
    </td>
  </tr>
  <tr>
    <td><%= f.label :email, "E-mail<span style='color: red;'>*</span>".html_safe %></td>
    <td><%= f.email_field :email, :placeholder => "E-mail" %></td>
  </tr>
  <tr>
    <td><%= f.label :password, "Password<span style='color: red;'>*</span>".html_safe %></td>
    <td><%= f.password_field :password, :placeholder => "Password" %><span id="result"></span></td>
  </tr>
  <tr>
    <td><%= f.label :password_confirmation, "Password Confirmation<span style='color: red;'>*</span>".html_safe %></td>
    <td><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %></td>
  </tr>
  <tr>
    <td><input type="checkbox" title="I agree to the Terms and Conditions" /> I agree to the <a class="link-blue" href="#" title="Terms and Conditions">Terms and Conditions</a></td>
  </tr>
  <tr>
    <td></td>
    <td><button type="submit">Sign up</button></td>
  </tr>
</table>
<style>
  h2{
    display: none;
  }
  #result{
    margin-left:5px;
  }

  #formDiv .short{
    color:#FF0000;
  }

  #formDiv .strong{
    color:#006400;
  }
</style>