<%= f.hidden_field :role, :value => params[:role] %>
<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label :username %>
  <%= f.text_field :username %>
</p>

<%# if (params[:role] == 'seller') %>
<%#*<p>%>
<%#= f.label :business_name %>
<%#= f.text_field :business_name %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :business_address %>
<%#= f.text_field :business_address %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :city %>
<%#= f.text_field :city %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :state %>
<%#= f.text_field :state %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :country %>
<%#= f.text_field :country %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :zip %>
<%#= f.text_field :zip %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :phone %>
<%#= f.text_field :phone %>
<%#*</p>%>
<%# end %>

<p>
  <%= f.radio_button :gender, "Male" %>Male
  <%= f.radio_button :gender , "Female"%>Female
  <%= f.radio_button :gender ,"Rather not say"%>Rather not say
</p>


<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</p>

<p>
  <button type="submit">Sign up</button>
</p>