<%= params[:role] ? (f.hidden_field :role, :value => params[:role]) : (f.hidden_field :role, :value => params[:user][:role]) %>
<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label :username %>
  <%= f.text_field :username,:onBlur => "get_username(this)" %>
  <span id="username" style="display: none;color: green;">Available</span>
  <span id="user" style="display: none;color: red;">Not Available</span>
</p>

<%# if (params[:role] == 'seller') %>
<%#*<p>%>
<%#= f.label :business_name %>
<%#= f.text_field :business_name %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :business_address %>
<%#= f.text_field :business_address %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :city %>
<%#= f.text_field :city %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :state %>
<%#= f.text_field :state %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :country %>
<%#= f.text_field :country %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :zip %>
<%#= f.text_field :zip %>
<%#*</p>%>

<%#*<p>%>
<%#= f.label :phone %>
<%#= f.text_field :phone %>
<%#*</p>%>
<%# end %>

<p>
  <%= f.radio_button :gender, "Male" %>&nbsp;Male&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.radio_button :gender , "Female"%>&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.radio_button :gender ,"Rather not say"%>&nbsp;Rather not say
</p>


<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.label :password %>
  <%= f.password_field :password %><span id="result"></span>
</p>

<p>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</p>

<p>
  <button type="submit">Sign up</button>
</p>
<script>
  function get_username(ht){
    $.ajax({
      url:"/users/username",
      data: {
        username: $(ht).val()
      },
      type: "PUT",
      success: function(data){
        if(data == "Error"){
          alert("Error. Please try again");
        }else{
        }
      }
    });
  }
</script>
<style>
  #result{
    margin-left:5px;
  }

  #formDiv .short{
    color:#FF0000;
  }
  #formDiv .strong, #new_user .strong{
    background-image: url(/assets/green_check_mark.png);
    height: 15px;
    width: 18px;
  }
</style>