<h1 class="icon-addProduct"><span>Add Cause</span></h1>
<div class="content-profile">
  <span style='color: red;'>* All fields are Required.</span>
  <%= form_for @cause do |f| %>
    <ul style='padding: 0px;'>
      <% @cause.errors.full_messages.each_with_index do |msg,index| %>
        <li style="color: red;"><%= index+1 %>. <%= msg %></li>
        <% end %>
    </ul>
    <table>
      <tr>
        <td>Title:</td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td>Image: </td>
        <td><%= f.file_field :image %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Cause", :class => 'button' %></td>
      </tr>
    </table>
  <% end %>
</div>