<table>
  <tr class="row">
    <td><%= f.label :image, "Banner Image:#{mark}".html_safe %></td>
    <td><%= f.file_field :image %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= validation_error(@banner_image.errors['image'])%></td>
  </tr>
  <tr class="row">
    <td><%= f.label :image_description, "Image Description:#{mark}".html_safe %></td>
    <td><%= f.text_area :image_description, :cols => 33, :rows => 3 %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= validation_error(@banner_image.errors['image_description'])%></td>
  </tr>
  <tr class="row">
    <td></td>
    <td>
      <div><input type="submit" title="Submit" value="Submit" /></div>
    </td>
  </tr>
</table>