<div class="content">
  <div id="leftColumn">
    <ul class="list-menuLeft">
      <li class="<%= params[:cause] == "Animal Cause" ? "active" : "" %>"><%= link_to "Animal Cause", all_causes_path(:cause => "Animal Cause") %></li>
      <li class="<%= params[:cause] == "Human Cause" ? "active" : "" %>" style="background-color: #FF0000;"><%= link_to "Human Cause", all_causes_path(:cause => "Human Cause") %></li>
      <li class="<%= params[:cause] == "Environment Cause" ? "active" : "" %>" style="background-color: #209924;"><%= link_to "Environment Cause", all_causes_path(:cause => "Environment Cause") %></li>
    </ul>
    <div class="menu-categories">
      <h1><span>Categories</span></h1>
      <ul>
        <%= render :partial => '/categories/category' %>
      </ul>
    </div>
  </div>
  <div id="rightColumn">
    <div class="box-trending">
      <h4>Trending</h4>
      <ul class="list-trending">
        <li><%= link_to "Burma Python Preservation", "" %></li>
        <li><%= link_to "Alp Leopard", "" %></li>
        <li><%= link_to "Alpine Buffalo", "" %></li>
        <li><%= link_to "Ants", "" %></li>
        <li><%= link_to "Lewa Wildlife Foundation", causess_path %></li>
      </ul>
    </div>
    <ul id="collexp" class="menu-collexp">
      <% ses = ('A'..'Z') %>
      <% for ss in ses %>
        <li><a href="javascript:;" class="collapsed" title="<%= ss %>"><%= ss %></a>
          <ul class="list-trending">
            <% Product.where("non_profit_cause = '#{params[:cause]}' and cause_sub_category LIKE '#{ss}%'").each do |a| %>
              <li><%= link_to a.cause_sub_category, " " %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="clearFix"></div>
</div>