<div class="content">
  <div id="leftColumn">
    <div class="menu-categories">
      <h1><span>Categories</span></h1>
      <ul>
        <% Category.all.each do |category| %>
          <% @ss = category.id %>
          <li class="<%= params[:categories] == "#{@ss}" ? "active" : "" %>"><%= link_to category.name, category_path(:categories => category.id) %></li>
        <% end %>
      </ul>
    </div>
    <% if @products.present? %>
      <div style="position: relative; float: left; margin-top: 20px; width: 225px;">
        <%= form_tag search_products_path, :method => 'get' do %>
          $<%= text_field_tag :from, "", :style => 'width: 20px;' %> to
          $<%= text_field_tag :to, "", :style => 'width: 20px;' %>
          <%= submit_tag "Go" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="rightColumn" style="margin-left: -20px;width: 795px;">
    <div class="commonrow">
      <% if @products.present? %>
        <div class="list_carousel">
          <ul id="caroulproduct">
            <% for product in @products  %>
              <li>
                <%= link_to image_tag(product.images.first.image.url(:original), :width => "200", :height => "150", :style => 'border-radius: 10px;'), product_path(product) %>
                <div>
                  <h4><%= product.title %></h4>
                  <p>Seller: <%= link_to product.sell_name.present? ? product.sell_name : product.user.username, seller_path(product.user.id) %></p>
                  <span><%= number_to_currency(product.price) %></span>
                  <div class="offer"><%= product.non_profit_percentage %><%= "%" %></div>
                </div>
                <%= link_to "<input type='submit' title='More Info' value='More Info' />".html_safe, product_path(product), :style => 'text-decoration: none;' %>
                <%= link_to "<input type='submit' title='Add To Cart' value='Add To Cart' />".html_safe, add_to_cart_product_path(product, :qty => 1), :style => 'text-decoration: none;' %><br /><br /><br />
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <span style="position: relative; color: red; text-align: center; font-size: 20px; left: 50px; top: 10px;">No Products</span>
      <% end %>
    </div>
    <div class="clearFix"></div>
  </div>