<div class="sliderLeftColumn">
  <div class="coda-slider" id="lll-id">
    <% @back_images = BannerImage.all %>
    <% for image in @back_images %>
      <div><h2 class="title"><%= image.image_description.slice(0..300) %></h2><img title="" src="<%= image.image.url(:original) %>" width='708' height="389"/></div>
    <% end %>
  </div>
</div>
<div class="sliderRightColumn">
  <ul>
    <li class="box-ourMission">
      <h2>Our Mission</h2>
      <p>Lertemquia lalups <br>sitspturseuays harastyas <br>istfugons equntuse</p>
    </li>
    <li class="box-memberStories">
      <h2>Member Stories</h2>
      <p>Lertemquia lalups <br>sitspturseuays harastyas <br>istfugons equntuse</p>
    </li>
    <li class="box-urgentHelp">
      <h2>Urgent Help</h2>
      <p>Lertemquia lalups <br>sitspturseuays harastyas <br>istfugons equntuse</p>
    </li>
  </ul>
</div>
<div class="clearFix"></div>
<div class="content">
  <div class="heading-greatWay">
    <span>Great Way To</span><br>
    <strong>Help Different Causes<br></strong>
    <em>Support a cause by buying or selling quality products</em>
  </div>
  <div class="commonrow">
    <h1><span>Featured Causes</span></h1>
    <div class="list_carousel h225">
      <ul id="caroulproduct1">
        <% for cause in @causes  %>
          <li>
            <%= image_tag(cause.image.url(:original), :width => "305", :height => "210") %>
            <h4><%= cause.title %></h4>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      <a id="prev21" class="prev" href="#">&lt;</a>
      <a id="next21" class="next" href="#">&gt;</a>
      <div id="pager21" class="pager"></div>
    </div>
  </div>
  <div class="commonrow">
    <h1><span>Featured Products</span></h1>
    <div class="list_carousel">
      <ul id="caroulproduct">
        <% for product in @products  %>
          <li>
            <%= image_tag(product.images.first.image.url(:original), :width => "226", :height => "287") %>
            <div>
              <h4><%= product.title %></h4>
              <p>Seller: <%= link_to product.user.username, seller_path(product.user.id) %></p>
              <span>$<%= product.price %>.00</span>
              <div class="offer"><%= product.non_profit_percentage %><%= "%" %></div>
            </div>
            <%= link_to "<input type='submit' title='More Info' value='More Info' />".html_safe, product_path(product), :style => 'text-decoration: none;' %>
            <%= link_to "<input type='submit' title='Add To Cart' value='Add To Cart' />".html_safe, add_to_cart_product_path(product, :qty => 1), :style => 'text-decoration: none;' %>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      <a id="prev2" class="prev" href="#">&lt;</a>
      <a id="next2" class="next" href="#">&gt;</a>
      <div id="pager2" class="pager"></div>
    </div>
  </div>
  <div class="categoriesCaroul caroulCategories">
    <h1><span>Categories</span></h1>
    <div class="list_carousel">
      <ul id="caroulproduct2">
        <% Product.where("title is not null").group(:category_id).each do |product|  %>
          <li>
            <%= link_to image_tag(product.images.first.image.url(:original), :width => "217", :height => "170"), category_path(:categories => product.category_id) %>
            <h4><%= product.category.name %></h4>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      <a id="prev212" class="prev" href="#">&lt;</a>
      <a id="next212" class="next" href="#">&gt;</a>
      <div id="pager212" class="pager"></div>
    </div>
    <div class="box-newsletter">
      <div class="newsletter-signup">
        <div id='email_alert'>
          <%= render :partial => 'email_alert' %>
        </div>
      </div>
      <div class="column-share">Find us on:</div>
      <ul class="list-media">
        <li class="icon-twitter">
          <%= link_to "twitter", "https://twitter.com/enodsnow", :title => "twitter" %>
        </li>
        <li class="icon-facebook">
          <%= link_to "facebook", "https://www.facebook.com/enodsnow", :title => "facebook" %>
        </li>
        <li class="icon-googlePlus">
          <%= link_to "google plus", "https://google.com/+enods" , :title => "google plus" %>
        </li>
        <li class="icon-pinterest">
          <%= link_to "pinterest", "http://www.pinterest.com/enodsnow", :title => "pinterest" %>
        </li>
        <li class="icon-youtube">
          <%= link_to "you tube", "https://www.youtube.com/user/enodsnow", :title => "you tube" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearFix"></div>
</div>
<script>
  $(function() {
    $('#lll-id').codaSlider({
      autoSlide: true,
      autoHeight: false
    });
  });

  $(function() {
    //	Scrolled by user interaction
    $('#caroulproduct1').carouFredSel({
      prev: '#prev21',
      next: '#next21',
      pagination: "#pager21",
      auto: false
    });
    $('#caroulproduct2').carouFredSel({
      prev: '#prev212',
      next: '#next212',
      pagination: "#pager212",
      auto: false
    });
    $('#caroulproduct').carouFredSel({
      prev: '#prev2',
      next: '#next2',
      pagination: "#pager2",
      items: 1,
      auto: true
    });
  });
</script>