<div class="sliderLeftColumn">
  <div class="coda-slider" id="lll-id">
    <div><h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elitam eunisdapibusa dipiscing <br>magna sed cursus sapien condimentum......</h2><img alt="" title="" src="/assets/slider_images/banner_1.jpg" /></div>
    <div><h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elitam eunisdapibusa dipiscing <br>magna sed cursus sapien condimentum......</h2><img alt="" title="" src="/assets/slider_images/banner_2.jpg" /></div>
    <div><h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elitam eunisdapibusa dipiscing <br>magna sed cursus sapien condimentum......</h2><img alt="" title="" src="/assets/slider_images/banner_3.jpg" /></div>
    <div><h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elitam eunisdapibusa dipiscing <br>magna sed cursus sapien condimentum......</h2><img alt="" title="" src="/assets/slider_images/banner_4.jpg" /></div>
  </div>
</div>
<div class="sliderRightColumn">
  <ul>
    <li class="box-ourMission">
      <h2>Our Mission</h2>
      <p>Lertemquia lalups <br>sitspturseuays harastyas <br>istfugons equntuse</p>
    </li>
    <li class="box-memberStories">
      <h2>Member Stories</h2>
      <p>Lertemquia lalups <br>sitspturseuays harastyas <br>istfugons equntuse</p>
    </li>
    <li class="box-urgentHelp">
      <h2>Urgent Help</h2>
      <p>Lertemquia lalups <br>sitspturseuays harastyas <br>istfugons equntuse</p>
    </li>
  </ul>
</div>
<div class="clearFix"></div>
<div class="content">
  <div class="heading-greatWay">
    <span>Great Way To</span><br>
    <strong>Help Different Causes<br></strong>
    <em>Support a cause by buying or selling quality products</em>
  </div>
  <div class="commonrow">
    <h1><span>Featured Causes</span></h1>
    <div class="list_carousel h225">
      <ul id="caroulproduct1">
        <% for product in @causes  %>
          <li>
            <%= image_tag(product.image.url(:original), :width => "305", :height => "210") %>
            <h4><%= product.title %></h4>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      <a id="prev21" class="prev" href="#">&lt;</a>
      <a id="next21" class="next" href="#">&gt;</a>
      <div id="pager21" class="pager"></div>
    </div>
  </div>
  <div class="commonrow">
    <h1><span>Featured Products</span></h1>
    <div class="list_carousel">
      <ul id="caroulproduct">
        <% for product in @products  %>
          <li>
            <%= image_tag(product.images.first.image.url(:original), :width => "226", :height => "287") %>
            <div>
              <h4><%= product.title %></h4>
              <p>Seller: <%= link_to product.user.username, "" %></p>
              <span>$<%= product.price %>.00</span>
              <div class="thum-productDetail" style="float: right;position: relative;width: 95px;top: -30px;">
                <%= image_tag("/assets/img-donation.png", :width => '30', :height => '30')%>
              </div>
            </div>
            <%= link_to "<input type='submit' title='Add To Cart' value='Add To Cart' />".html_safe, add_to_cart_product_path(product), :style => 'text-decoration: none;' %>
            <%= link_to "<input type='submit' title='More Info' value='More Info' />".html_safe, product_path(product), :style => 'text-decoration: none;' %>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      <a id="prev2" class="prev" href="#">&lt;</a>
      <a id="next2" class="next" href="#">&gt;</a>
      <div id="pager2" class="pager"></div>
    </div>
  </div>
  <div class="categoriesCaroul caroulCategories">
    <h1><span>Categories</span></h1>
    <div class="list_carousel">
      <ul id="caroulproduct2">
        <% for product in @products  %>
          <li>
            <%= image_tag(product.images.first.image.url(:original), :width => "217", :height => "170") %>
            <h4><%= product.category.name %></h4>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
      <a id="prev212" class="prev" href="#">&lt;</a>
      <a id="next212" class="next" href="#">&gt;</a>
      <div id="pager212" class="pager"></div>
    </div>
    <div class="box-newsletter">
      <div class="newsletter-signup">
        <%= form_for @email_alert, :url => create_alert_path(), :html => {:id => 'signup'}, :method => 'POST' do |f| %>
          <%= f.submit "", :class => 'btn-email' %>
          <%= f.text_field :email, :class => 'input-yourEmail', :placeholder => 'Enter your email --' %>
        <% end %>
        <h4>Sign Up To Our Newsletter</h4>
        <p>Istant wardrobe updates, new arrivals, <br>fashion news,don'nt miss a bit </p>
      </div>
      <div class="column-share">Find us on:</div>
      <ul class="list-media">
        <li class="icon-twitter"><a title="twitter" href="#">twitter</a></li>
        <li class="icon-facebook"><a title="facebook" href="#">facebook</a></li>
        <li class="icon-blogger"><a title="blogger" href="#">blogger</a></li>
        <li class="icon-googlePlus"><a title="google plus" href="#">google plus</a></li>
        <li class="icon-pinterest"><a title="pinterest" href="#">pinterest</a></li>
        <li class="icon-youtube"><a title="you tube" href="#">you tube</a></li>
      </ul>
    </div>
  </div>
  <div class="clearFix"></div>
</div>