<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
  <head>
    <title>enods</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="enods: Earth Needs Our Dedicated Support- Democratizing Good" />
    <meta name="keywords" content="Cause Commerce, Doing Good, Democratizing Good, Cause Marketing, Support Causes, World Saver, enods, earth needs our dedicated support, Commerce for a cause, Donate to Non-Profits, Fundraising, Raising Funds, Non-Profits, E-Commerce, Buying for a cause, Help a non-profit, Help a charity, Buy goods, Do good, Buying for good" />
    <%= stylesheet_link_tag '/assets/demo/main.css' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js",
      "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js","/assets/demo/countdown.js" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script type="text/javascript">
      $(document).ready(function() {

        $("#countdown").countdown({
          date: "01 January 2014 00:00:00", // add the countdown's end date (i.e. 25 January 2014 08:00:00)
          format: "on" // on (03:07:52) | off (3:7:52) - two_digits set to ON maintains layout consistency
        },
        function() {

          // the code here will run when the countdown ends
          alert("We welcome you to enods!")

        });
      });
    </script>
    <!--[if !IE 7]>
        <style type="text/css">
            #wrap {
                display: table;
                height: 100%
            }
        </style>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
      <div class="main">
        <div class="header">
          <div class="head">
            <div class="logo"></div>
            <div style='float: right;font-size: 24px;position: relative;top: -80px;'><%= current_user ? (current_user.role == 'admin' ? (link_to "Return to Dashboard", admin_dashboard_path) : (current_user.role == 'seller' ? (link_to "Return to Dashboard", dashboard_path) : (link_to "Return to Dashboard", profile_profile_path(current_user)))) : "" %></div>
          </div>
          <h1>Democratizing <br />
            Good</h1>
          <p class="social"><strong>Follow us on:</strong> 
            <%= link_to "Twitter", "http://www.twitter.com/enodsnow", :target => "_blank" %> /
            <%= link_to "Facebook", "http://www.facebook.com/enodsnow", :target => "_blank" %> /
            <%= link_to "Pinterest", "http://www.pinterest.com/enodsnow", :target => "_blank" %> /
            <%= link_to "Google+", "https://plus.google.com/112658935784152892399/posts", :target => "_blank" %>
            <div class="counter">
              <div class="timer">
                <ul id="countdown">
                  <li>
                    <span class="days">00</span>
                    <p class="timeRefDays">days</p>
                  </li>
                  <li class="seperator">.</li>
                  <li>
                    <span class="hours">00</span>
                    <p class="timeRefHours">hours</p>
                  </li>
                  <li class="seperator">:</li>
                  <li>
                    <span class="minutes">00</span>
                    <p class="timeRefMinutes">minutes</p>
                  </li>
                  <li class="seperator">:</li>
                  <li>
                    <span class="seconds">00</span>
                    <p class="timeRefSeconds">seconds</p>
                  </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="content">
          <div class="ditch">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="http://enods.us5.list-manage1.com/subscribe/post?u=b70fcc8313e255c95eda33724&amp;id=fab5694c4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div  class="input">
                  <input type="text" placeholder="First Name*" value="" name="FNAME" class="required" id="mce-FNAME">
                </div>
                <div class="input">
                  <input type="text" value="" placeholder="Last Name*" name="LNAME" class="required" id="mce-LNAME">
                </div>
                <div class="input" style="width:250px">
                  <input type="email" value="" placeholder="Email Address*" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div style="display: inline-block;line-height: 0px;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
              </form>
            </div>

            <!--End mc_embed_signup-->
            <div class="clearfix"></div>
          </div>



          <div class="about">
            <h2>enods Beta Site: Set to Release- January 2014</h2>

            <p>To learn more and be one of the first to test the site, please subscribe to our mailing list above.  Thank you!</p>
            <div class="clearfix"></div>
          </div>
          <div class="left">
            <div class="features">
              <h2>Support a Cause and Make a Difference</h2>
              <ul class="one">
                <li>
                  <%= image_tag("/assets/demo/causes.png") %>
                  <span>Causes We Support</span>
                  <p>enods supports a variety of causes, which are divided into three main categories: 	</p>	                                                        
                  <p><strong>Human Causes</strong></p>
                  <p><strong>Animal Causes</strong></p>
                  <strong>Environmental Causes</strong></p>
                </li>
                <li>
                  <%= image_tag("/assets/demo/products.png") %>
                  <span>Type of Products</span>
                  <p>enods strives to provide consumers with a variety of high quality, fair trade, artisanal goods, as well as items created and sold by local businesses.</p>
                </li>
              </ul>
              <ul>
                <li>
                  <%= image_tag("/assets/demo/non-profit.png") %>
                  <span>Non-Profits</span>
                  <p>Through partnerships with both local and international non-profit organizations, enods is dedicated to make a difference in the world one purchase at a time.</p>
                  <p> <br></p>
                </li>
                <li>
                  <%= image_tag("/assets/demo/business.png") %>
                  <span>Vendors & Local Businesses</span>
                  <p>Each vendor and business on the enods platform is individually approved based on strict criteria prior to selling their goods and products in the marketplace.  </p>
                  <a href="mailto: vendors@enods.com"><strong>Click Here</strong></a> to learn more about becoming a vendor. </p>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="about">
              <h2>About enods</h2>
              <p>enods, which stands for Earth Needs our Dedicated Support is an e-commerce platform which aims to sustain the planet by supporting organizations which are dedicated to raising funds for their respective causes and non-profits through the sale of goods and products made via the enods marketplace.</p>
              <div class="clearfix"></div>
            </div>
            <p> Are you a non-profit that would like to receive funds from purchases made via the enods marketplace? <a href="mailto: marketing@enods.com"><strong>Email us Today</strong>.</a></p>
          </div>
          <div class="right">
            <div class="twitter">
              <h2>What people are saying</h2>
              <%= link_to "Tweets by @EnodsNow", "https://twitter.com/EnodsNow", 'data-widget-id' => "374767082384027649", :class => 'twitter-timeline' %>
              <script>!function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                  if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                  }
                }(document, "script", "twitter-wjs");</script>
              <!-- <div id="tweets"> -->
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    </div>
    <div class="footer">
      <div>
        <ul>
          <li><%= link_to "Home", root_path, :target => '_blank' %></li>
          <li><%= link_to "Contact", "mailto:info@enods.com", :target => '_blank' %></li>
          <li><%= link_to "Twitter", "http://www.twitter.com/enodsnow", :target => '_blank' %></li>
          <li><%= link_to "Facebook", "http://www.facebook.com/enodsnow", :target => '_blank' %></li>
          <li><%= link_to "Google+", "https://plus.google.com/112658935784152892399/posts", :target => '_blank' %></li>
        </ul>
        Copyright &copy; 2013 enods. All rights reserved.
        <div class="clearfix"></div>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21599784-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
  <!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
</html>