<article>
  <div class="content">
    <div id="leftColumn">
      <div class="menu-categories">
        <h1><span>All Items</span></h1>
        <ul>
          <%= render :partial => '/categories/category' %>
        </ul>
      </div>
      <div class="menu-categories">
        <h1><span>Shop Owner</span></h1>
        <div class="box">
          <div class="thum-shopOwner">
            <%= image_tag(@user.avatar.url(:original), :width => '217', :height => '170') %>
          </div>
          <div class="box-content">
            <p><%= link_to current_user ? (@following.present? ? "Following" : "Follow") : "Follow", follow_path(@user) %>(<%= @user.followers.where("status = 'Follow'").count %>)</p>
            <h5><a title="Roza" href="#"><%= @user.username%></a></h5>
            <h5>Have a question?</h5>
            <p>
              <%= link_to "Contact Shop Owner", new_user_contact_shop_owner_path(@user), :class => 'btn' %>
            </p>
            <div class="clearFix"></div>
          </div>	
        </div>	
      </div>
      <div class="menu-categories">
        <h1><span>Shop Info</span></h1>
        <div class="box">
          <div class="box-content">
            <h5><%= @user.business_name %></h5>
            <div class="clearFix"></div>
          </div>
        </div>	
      </div>
    </div>
    <div id="rightColumn">
      <div class="box-seller">
        <p>
          <%= image_tag(@user.store_image.url(:original), :width => 760, :height => 100) %>
        </p>
        <p style="float: right;">
          <%= link_to current_user ? (@favoritee.present? ? "Favorited" : "Favorite") : "Favorite", favorite_path(@user) %>
        </p>
        <h5><%= link_to @user.business_name, "" %></h5>
        <pre><%= @user.other_info %></pre>
      </div>	
      <div class="list_carousel list-search">
        <ul id="caroulproduct">
          <% for product in @products  %>
            <li style='min-height: 350px;'>
              <%= link_to image_tag(product.images.first.image.url(:original), :width => "200", :height => "150", :style => 'border-radius: 10px;'), product_path(product) %>
              <%= render :partial => '/carts/products', :locals => {:product => product} %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="clearFix"></div>
  </div>
</article>