<div class="tablebox table-invitations">
  <div class="row">
    <div class="column">ID</div>
    <div class="column">Email Address</div>
    <div class="column">Invited On</div>
    <div class="column last">Status</div>
  </div>
  <% for invitation in @invitations %>
    <div class="row">
      <div class="column"><%= invitation.id %></div>
      <div class="column"><%= invitation.email %></div>
      <div class="column"><%= invitation.created_at.strftime("%d/%m/%Y")%></div>
      <div class="column last"><%= invitation.status %></div>
    </div>
  <% end %>
</div>
<div style="float: right">
  <%= will_paginate @invitations, :param_name => 'invitation_page', :previous_label => "PREV", :next_label => "NEXT", :page_links => false %>
</div>
<script>
  $(function() {
    $('.pagination a').click(function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>
<style>
  .column{
    width: 24%;
  }
</style>