<%= link_to "<input class='fright' title='Continue Shopping' type='submit' value='Continue Shopping' />".html_safe, '/' %>
<h6><%= current_cart.line_items.count %>  Items in your Cart</h6>
<% if !@user_products.to_a.empty? %>
  <% for line_item in @user_products %>
    <div class="box-orderfrom">
      <h4>
        <%= link_to "Close", cart_path(line_item), :method => :delete, :confirm => "Are You Sure", :class => "icon-close" %>
        Order from  <%= link_to line_item.product.user.username, seller_path(line_item.product.user) %>
      </h4>
      <div class="checkoutColumn">
        <ul class="list-checkout">
          <li>
            <h6>Ship to</h6>
            <p>
              <select title="India">
                <option>India</option>	
              </select>
            </p>
            <h5 class="color-gray">Ready to ship in 35 business days</h5>
            <h5>How You'll Pay</h5>
            <p><input title="Payment Mode" type="radio"> <img alt="" title="" src="/assets/payment-mode_1.png" /></p>
          </li>	
          <li>
            <div class="row-checkout">
              <div>Item total</div>
              <div><%= number_to_currency(line_item.full_price) %> USD</div>
            </div>
          </li>
          <li>
            <div class="row-checkout bold">
              <div>Order total</div>
              <div><%= number_to_currency(line_item.full_price) %> USD</div>
            </div>
            <%= current_user ? (current_user.role == 'buyer' ? (link_to "<input class='btn-proceedCheckout' title='Proceed to Checkout' type='submit' value='Proceed to Checkout' />".html_safe, line_item_orders_path(line_item.id), :method => "POST", :id => 'subbb', :style => 'text-decoration: none;') : "") : (link_to_function "<input class='btn-proceedCheckout' title='Proceed to Checkout' type='submit' value='Proceed to Checkout' />".html_safe, "buyer_users_path()", :style => 'text-decoration: none;') %>
          </li>
        </ul>				
      </div>
      <ul class="list-order">
        <li>
          <div class="orderThum">
            <%= image_tag(line_item.product.images.first.image.url(:original), :width => '168', :height => '155', :id => "image_#{line_item.id}", :style => 'cursor: pointer;') %>
          </div>
          <script>
            $(document).ready(function() {
              $("#image_<%= line_item.id %>").mouseover(function() {
                $("#image_<%= line_item.id %>").css({width: 170, height: 200});
              });
              $("#image_<%= line_item.id %>").mouseleave(function() {
                $("#image_<%= line_item.id %>").css({width: 168, height: 155});
              });
            });
          </script>
          <ul class="list-orderDetail">
            <li><%= link_to line_item.product.title, product_path(line_item.product) %></li>
            <li>Quantity: 
              <em id='qua'>
                <%= link_to line_item.quantity, edit_lineitem_cart_path(line_item), :remote => true, :id => 'lll' %>
              </em>
              <span id='line_item_quantiy'></span>
            </li>
            <li>Size: 40 cm</li>
            <li><%= number_to_currency(line_item.product.price) %> USD </li>
            <li>Donation: <%= number_to_currency((line_item.product.price.to_f/10)/line_item.product.non_profit_percentage) %> USD </li>
          </ul>
        </li>
        <li>
          <div style="position: relative; left: -12px; width: 618px;">
            <div class="thum-productDetail" style="width: 78px;"><canvas id="canvas_<%= line_item.id %>" height="72" width="75"></canvas></div>
            <p style="float: left; margin-top: 17px; width: 218px; margin-left: -2px;"><%= line_item.product.non_profit_percentage %><%= "%" %>  of the proceeds <br>will be donated.</p>
            <div class="thum-productDetail" style="width: 78px;"><img alt="" title="" src="/assets/img-recipients-donations.png" /></div>
            <p style="float: right; margin-top: 20px; margin-right: 46px; width: 200px;;"><a title="The United Nations Children's Fund" href="#"><%= line_item.product.non_profit_cause.capitalize.split("_").join(" ") %></a></p>
          </div>
        </li>
        <script>
          var pieData = [
            {
              value: <%= line_item.product.non_profit_percentage %>,
              color: "#FFA12E"
            },
            {
              value: <%= 100 - line_item.product.non_profit_percentage %>,
              color: "#00A6D7"
            }

          ];
          var myPie = new Chart(document.getElementById("canvas_<%= line_item.id %>").getContext("2d")).Pie(pieData);
        </script>
      </ul>
    </div>
  <% end %>
<% else %>
  <div style="margin-left: 90px;text-align:center">
    <%= image_tag("/assets/cart.png") %>
  </div>
<% end %>
<div class="clearFix"></div>