<div>
  <h4><%= product.title %></h4>
  <p>Seller: <%= link_to product.sell_name.present? ? product.sell_name : product.user.username, seller_path(product.user.id) %></p>
  <span><%= number_to_currency(product.price) %></span>
  <div class="offer"><%= product.non_profit_percentage %><%= "%" %></div>
</div>
<%= link_to "<input type='submit' title='More Info' value='More Info' />".html_safe, product_path(product), :style => 'text-decoration: none;' %>
<%= link_to "<input type='submit' title='Add To Cart' value='Add To Cart' />".html_safe, add_to_cart_product_path(product, :qty => 1), :style => 'text-decoration: none;' %><br /><br /><br />