<h1>Sign in</h1>
<div id="formDiv">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <p><%= f.label :email %>
      <%= f.email_field :email %>
    </p>

    <p><%= f.label :password %>
      <%= f.password_field :password %>
    </p>

    <p>
      <button type="submit">Sign in</button> <%= link_to "Forgot Password?", new_user_password_path, :style => "color: #FC0000;" %>
    </p>

  <% end %>
  <%= render :partial => "devise/shared/signup" %>
</div>
<style>
  .alert{color: red;left: 45px;position: relative;top: 45px;font-weight: bold;font-size: 16px;}
</style>