<h1 class="icon-profile"><em class="icon-plus"><%= (user_signed_in? and current_user.role == 'admin') ? (link_to "New Category", new_category_path) : "" %></em><span>Category Management</span></h1>
<div class="tablebox table-categoryManagement">
  <div class="row">
    <div class="column">ID</div>
    <div class="column">Category Name</div>
    <div class="column">Options</div>
  </div>
  <% @categories.each_with_index do |category, index| %>
    <div class="row">
      <div class="column"><%= index+1 %></div>
      <div class="column"><%= category.name %></div>
      <div class="column last">
        <%= link_to image_tag("/assets/admin-images/icon-edit.png"), edit_category_path(category)  %>
        <%= link_to image_tag("/assets/admin-images/icon-close.png"), {:controller => 'categories', :action => 'destroy', :id => category.id}, :method => :delete, :confirm => "Are you Sure" %>
      </div>
    </div>
  <% end %>
</div>