<h1 class="icon-productsManagement"><span>Product Details</span></h1>
<div class="content-profile content-productDetails">
  <div class="commonrow">
    <div class="productDetails-leftColumn"><div class="midSec"><%= image_tag(@product.images.first ? @product.images.first.image.url(:original) : "no_image.gif", :width => '450px', :height => '350px') %></div><br />
      <div class="leftSec" style="max-height: 400px;overflow: auto;">
        <% if !@product.images.empty? %>
          <% for image in @product.images %>
            <%= link_to image_tag(image.image.url(:original), :width => "70", :height => "70"), "#" %>
          <% end %>
        <% else %>
          <%= image_tag("no_image.gif", :width => "70") %>
        <% end %>
      </div>
    </div>
    <div class="productDetails-rightColumn">
      <h2><%= @product.title %><br /><span><%= number_to_currency(@product.price) %></span></h2>
      <p><%= @product.description %></p>
      <%= link_to "<input class='btn-blue' type='submit' title='PAID' value='Confirm' />".html_safe, confirm_product_admin_path(@product, :status =>'confirmed'), :method => 'put', :class => 'button', :style => 'text-decoration: none;' %>
      <%= link_to "<input class='btn-blue' type='submit' title='PAID' value='Reject' />".html_safe, reject_product_path(@product), :remote => true, :class => 'button', :style => 'text-decoration: none;' %>
    </div>
    <br />
    <div id='reject'></div>
  </div>
</div>