<% if @products.present? %>
  <%= form_tag search_products_path, :method => 'get' do %>
    $<%= text_field_tag :from, "", :style => 'width: 20px;' %> to
    $<%= text_field_tag :to, "", :style => 'width: 20px;' %>
    <%= submit_tag "Go" %>
  <% end %>
  <table width='100%' border='1' style='text-align: center;'>
    <tr>
      <th>Product Name</th>
      <th>Image</th>
      <th>Created At</th>
      <th>Price</th>
    </tr>
    <% for product in @products %>
      <tr>
        <td><%= link_to product.title, product_path(product) %></td>
        <td><%= image_tag(product.images.first.image.url(:original), :width => '40', :height => '40') %></td>
        <td><%= product.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  No Results<br />

  Browse <%= link_to "Products", category_path, :style => 'color: blue;' %>
<% end %>