<h1><%= @product.title if @product %></h1>
<div class="deals" id="content">
  <div class="deal">
    <div class="leftSec" style="max-height: 400px;overflow: auto;">
      <% if !@product.images.empty? %>
        <% for image in @product.images %>
          <%= link_to image_tag(image.image.url(:original), :width => "70", :height => "70"), "#" %>
        <% end %>
      <% else %>
        <%= image_tag("no_image.gif", :width => "70") %>
      <% end %>
    </div>
    <div class="midSec">
      <%= image_tag(@product.images.first ? @product.images.first.image.url(:original) : "no_image.gif", :width => '400px', :height => '400px') %>
    </div>
    <div class="rightSec">
      <div class="dealsDetails">
        <table cellspacing="10" cellpadding="0">
          <tbody><tr>
              <td><p class="title">PRICE:</p></td>
              <td><p>
                  <strong><span id="dealPrice">$<%= @product.price %></span></strong>
                </p>
              </td>
            </tr>
          </tbody></table>
        <%= !user_signed_in? ? (link_to_function "Add to cart", "buyer_users_path()", :style => 'color : white', :class => 'cartButton'): (user_signed_in? and current_user.role != 'admin' and current_user.role != 'seller') ? (link_to "Add to cart", add_to_cart_product_path(@product), :style => 'color : white', :class => 'cartButton') : "" %>
      </div><br />
      <%#*<div class="dealsDetails">%>
        <%#*<table cellspacing="10" cellpadding="0">%>
          <%#*<tbody><tr>%>
              <%#*<td><p class="title">PRICE:</p></td>%>
              <%#*<td><p>%>
                  <%#= select_tag :non_profit, options_for_select([["Select", '']]+User.where("role = 'non-profit'").collect{|c| [c.username, c.id]})  %>
                <%#*</p>%>
              <%#*</td>%>
            <%#*</tr>%>
          <%#*</tbody></table>%>
        <%#= !user_signed_in? ? (link_to_function "Select Non-Profit", "buyer_users_path()", :style => 'color : white', :class => 'cartButton'): (user_signed_in? and current_user.role != 'admin' and current_user.role != 'seller') ? (link_to "Select Non-Profit", add_to_cart_product_path(@product), :style => 'color : white', :class => 'cartButton') : "" %>
      <%#*</div>%>
      <div class="sellerMsg">
        <br /><%= @product.description %>
      </div>
    </div>
  </div>
</div>
