<div class="topbar">
  <ul class="menu-top">
    <li><%= link_to "Sell", ""%></li>
    <li><%= link_to "About", about_us_path %></li>
    <li><%= link_to "Causes", causess_path %></li>
    <li><%= link_to "Categories", "" %> </li>
    <li><%= link_to "Blog", "" %> </li>
    <li><%= link_to "Contact", contact_us_path %> </li>
    <li><%= link_to "Cart", carts_path %> </li>
    <li><%= link_to "Login", new_user_session_path() %></li>
  </ul>
</div>
<div class="commonrow">
  <%= link_to image_tag("/assets/logo.png", :id => "logo"), '/' %>
  <%= form_tag search_products_path, :method => 'get' do %>
    <%= text_field_tag :query, "", :title => "Search Items and Causes", :placeholder => "Search Items and Causes", :class => "icon-search" %>
  <% end %>
  <div class="icon-shopping" style="background-position: 120px -72px;"><%= current_cart.line_items.present? ? "#{current_cart.line_items.count} Items in Your Cart":"Your Cart Is Empty"%></div>
  <div id="cart_expire_time" style="position: relative;float: right;top: 15px;width: 213px;color: red;"></div>
</div>
<div class="nav-container">
  <div id="navigation">
    <ul class="list-media">
      <li class="icon-facebook"><%= link_to "facebook", "https://www.facebook.com/enodsnow" %></li>
      <li class="icon-twitter"><%= link_to "twitter", "https://twitter.com/enodsnow" %></li>
      <li class="icon-googlePlus"><%= link_to "google plus", "https://google.com/+enods" %></li>
      <li class="icon-pinterest"><%= link_to "pinterest", "http://www.pinterest.com/enodsnow" %></li>
      <li class="icon-youtube"><%= link_to "you tube", "https://www.youtube.com/user/enodsnow" %></li>
    </ul>
    <nav>
      <ul>
        <li><%= link_to "Sign up", new_user_path(:role => 'seller'), :class => 'lin-signup' %></li>
        <li><%= link_to "Sign In", new_user_session_path() %></li>
        <li class="parent"><a title="Categories" href="#">Categories</a>
          <ul class="submenu">
            <% Category.all.each do |category| %>
              <li><%= link_to category.name, category_path(:categories => category.id) %></li>
            <% end %>
            <li><%= link_to "Others" , index_path %></li>
          </ul>
        </li>
        <li class="parent"><a title="Explore Causes" href="#">Explore Causes</a>
          <ul class="submenu">
            <li><%= link_to "Animal Causes", all_causes_path(:cause => 'animal_cause') %></li>
            <li><%= link_to "Human Causes", all_causes_path(:cause => 'human_cause') %></li>
          </ul>
        </li>
        <li><%= link_to "Sell", "" %></li>
      </ul>
    </nav>
  </div>
</div>