<!DOCTYPE html>
<html>
  <head>
    <title>Enods.com</title>
    <%= stylesheet_link_tag 'application','enods',"jquery.notifyBar" %>
    <%= javascript_include_tag 'application', "countdown_timer","jquery.notifyBar",'script', 'jquery.imagetick' %>
    <%= csrf_meta_tag %>
    <% ['notice', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function () {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 3000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
  </head>
  <body style="background-color: #CFE5FC;text-align: center;">
    <%= link_to image_tag("/assets/enods1.png"), '', :class => 'logo' %><br /><br />
    <%= link_to image_tag("/assets/enods2.png"), '', :class => 'content-logo' %><br /><br />
    <%= yield %>
  </body>
</html>