<!DOCTYPE html>
<html>
  <head>
    <title>Enods.com</title>
    <%= stylesheet_link_tag 'application',(current_user.role == 'admin' ? 'default3' : (current_user.role == 'buyer' ? 'default1' : 'default2')) %>
    <%= javascript_include_tag 'application','/assets/carouFredSel/jquery.carouFredSel-5.6.2' %>
    <%= jquery_notify_bar_assets %>
    <%= csrf_meta_tags %>
    <% ['success', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function() {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 3000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
  </head>
  <body>
    <header>
      <div class="fright">
        <ul class="list-topicon" style="margin-left: -35px;">
          <li>Member: <%= current_user.username.capitalize %></li>
          <li class="icon-user"><%= link_to " ", current_user.role == 'admin' ? ("") : (profile_profile_path(current_user)) %></li>
          <li class="icon-logout"><%= link_to "", destroy_user_session_path, :method => 'delete' %></li>
        </ul>
      </div>
      <em><%= link_to "Home", '/', :style => 'color: white; text-decoration: none;' %> | ENODS DASHBOARD</em>
      <div class="clearFix"></div>
    </header>
    <article>
      <div class="topbar">
        <div class="fright"><%= current_user.role == 'admin' ? "" : (link_to "Settings", profile_profile_path(current_user), :class => 'icon-setting') %></div>
        <ul class="breadcrumb">
          <li><span><%= params[:controller] %></span></li>
          <li><a title="My Account" href="#"><%= params[:action].upcase %></a></li>
        </ul>
      </div>
      <section id="leftColumn">
        <nav>
          <ul class="menu">
            <% if current_user.role == 'buyer' %>
              <li class="icon-productsManagement <%= (params[:controller] == 'profiles' and (params[:action] == 'profile' or params[:action] == 'change_password' or params[:action] == 'profile_update')) ? 'active' : "" %>"><%= link_to "My Account", profile_profile_path(current_user) %></li>
              <li class="icon-orderSalesManagement <%= (params[:controller] == 'billing_shipping_addresses' and params[:action] == 'new') ? 'active' : "" %>"><%= link_to "Billing & Shipping", (current_user.billing_shipping_address.present? ? (edit_billing_shipping_address_path(current_user.billing_shipping_address)) : (new_billing_shipping_address_path)) %></li>
              <li class="icon-orderSalesManagement <%= (params[:controller] == 'profiles' and params[:action] == 'order_history') ? 'active' : "" %>"><%= link_to "Order History", order_history_path %></li>
              <li class="icon-invitations <%= (params[:controller] == 'invitations' and params[:action] == 'index') ? 'active' : "" %>"><%= link_to "Invitations", invitations_path %></li>
              <% if current_cart.line_items.present? %>
                <li class="icon-invitations <%= (params[:controller] == 'carts' and params[:action] == 'index') ? 'active' : "" %>"><%= link_to "Your Cart <span style='color:yellow;'>(#{current_cart.line_items.count})</span>".html_safe, carts_path %></li>
              <% end %>
            <% elsif current_user.role == 'seller' %>
              <li class="icon-dashboard <%= (params[:controller] == 'profiles' and params[:action] == 'dashboard') ? 'active' : "" %>"><%= link_to "Dashboard", dashboard_path %></li>
              <li class="icon-productsManagement <%= (params[:controller] == 'products' and params[:action] == 'index') ? 'active' : "" %>"><%= link_to "Products Management", products_path %></li>
              <li class="icon-productsManagement <%= (params[:controller] == 'products' and (params[:action] == 'import' or params[:action] == 'upload_products')) ? 'active' : "" %>"><%= link_to "Import Products", import_products_path %></li>
              <li class="icon-orderSalesManagement <%= (params[:controller] == 'profiles' and params[:action] == 'order_history') ? 'active' : "" %>"><%= link_to "Order & Sales Management", order_history_path %></li>
              <li class="icon-profile <%= (params[:controller] == 'profiles' and (params[:action] == 'profile' or params[:action] == 'change_password' or params[:action] == 'profile_update')) ? 'active' : "" %>"><%= link_to "Profile", profile_profile_path(current_user) %></li>
              <li class="icon-invitations <%= (params[:controller] == 'invitations' and params[:action] == 'index') ? 'active' : "" %>"><%= link_to "Invitations", invitations_path %></li>
            <% elsif current_user.role == 'admin' %>
              <li class="icon-dashboard <%= (params[:controller] == 'admins' and params[:action] == 'admin_dashboard') ? 'active' : "" %>"><%= link_to "Dashboard", admin_dashboard_path %></li>
              <li class="icon-productsManagement <%= (params[:controller] == 'admins' and params[:action] == 'seller') ? 'active' : "" %>"><%= link_to "Seller Management", seller_admins_path() %></li>
              <li class="icon-nonProfitManagement <%= (params[:controller] == 'admins' and params[:action] == 'non_profit') ? 'active' : "" %>"><%= link_to "Non-Profit Management", non_profit_admins_path() %></li>
              <li class="icon-orderSalesManagement <%= (params[:controller] == 'admins' and params[:action] == 'sales') ? 'active' : "" %>"><%= link_to "Sales Management", sales_admins_path %></li>
              <li class="icon-userManagement <%= (params[:controller] == 'admins' and params[:action] == 'buyer') ? 'active' : "" %>"><%= link_to "User Management", buyer_admins_path() %></li>
              <li class="icon-profile <%= (params[:controller] == 'categories' and params[:action] == 'index') ? 'active' : "" %>"><%= link_to "Category Management", categories_path() %></li>
              <li class="icon-productRequests <%= (params[:controller] == 'admins' and params[:action] == 'products') ? 'active' : "" %>"><%= link_to "Product Requests", products_admins_path() %></li>
              <li class="icon-productRequests <%= (params[:controller] == 'causes' and params[:action] == 'index') ? 'active' : "" %>"><%= link_to "Causes", causes_path %></li>
              <li class="icon-productRequests <%= (params[:controller] == 'admins' and params[:action] == 'review_product') ? 'active' : "" %>"><%= link_to "products for review", review_product_admins_path %></li>
              <li class="icon-enquiry <%= (params[:controller] == 'admins' and (params[:action] == 'profile' or params[:action] == 'change_password' or params[:action] == 'profile_update')) ? 'active' : "" %>"><%= link_to "Enquiry", "" %></li>
              <li class="icon-enquiry <%= (params[:controller] == 'bannner_images') ? 'active' : "" %>"><%= link_to "Banner Images", banner_images_path %></li>
            <% else %>
              <li class="icon-dashboard <%= (params[:controller] == 'profiles' and params[:action] == 'dashboard') ? 'active' : "" %>"><%= link_to "Dashboard", dashboard_path %></li>
              <li class="icon-profile <%= (params[:controller] == 'profiles' and (params[:action] == 'profile' or params[:action] == 'change_password' or params[:action] == 'profile_update')) ? 'active' : "" %>"><%= link_to "Profile", profile_profile_path(current_user) %></li>
            <% end %>
          </ul>
        </nav>
        <div class="blankbox"></div>
      </section>
      <section id="rightColumn">
        <div id='ajax-loader' style='z-index:1000000;'>
          <img alt=""  src="/assets/284.gif" style="width:80px;height:80px;z-index:1000000;"/>
        </div>
        <%= yield %>
      </section>
    </article>
    <div id='overlay' style='filter:alpha(opacity=50);'></div>
    <div align='center' id='popup_box1'>
      <div style='float: right; margin-top: -13px;margin-right:-13px'>
      </div>
      <div id='popup_body' style='float:right'></div>
    </div>
    <%= render :partial => '/layouts/google_analytics' %>
  </body>
</html>