<!DOCTYPE html>
<html>
  <head>
    <title>Enods.com</title>
    <%= stylesheet_link_tag 'application','enods',"jquery.notifyBar" %>
    <%= javascript_include_tag 'application', "countdown_timer","jquery.notifyBar",'script', 'jquery.imagetick' %>
    <%= csrf_meta_tag %>
    <% ['notice', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function () {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 3000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
  </head>
  <body onload="<%= !current_cart.new_record? ? "GetCartTimeCount('#{ (current_cart.created_at.utc+(30*60)).strftime('%Y-%m-%d %H:%M:%S') }', '#{Time.now.utc.strftime('%Y-%m-%d %H:%M:%S')}', 'cart_expire_time');" : "" %>">
    <div id="header">
      <%= link_to "ENODS.COM", "/", :class => "logo", :rel => "tab" %>
      <div id="header_search" style="float:left;margin-left:20px;margin-top:42px;">
        <%= form_tag search_products_path, :method => 'get' do %>
          <%= text_field_tag(:query, "#{params[:query] || 'Search'}",:onFocus => "if(this.value=='Search') this.value='';",:onBlur => "if(this.value=='') this.value='Search';") %>
        <% end %>
      </div>
      <div id="header_login">
        <%= (user_signed_in? ? (link_to "My Account", profile_profile_path(current_user), :class => "button", :rel => "tab") : " ") %>
        <%= (user_signed_in? ? ((user_signed_in? and current_user.role != 'non-profit') ? (user_signed_in? and current_user.role != 'admin') ? (link_to "Dashboard", products_path, :class => "button", :rel => "tab") : ("") : "") : (link_to "Sell", new_user_path(:role => 'seller'), :class => "button") ) %>
        <%= (user_signed_in? ? ((user_signed_in? and current_user.role != 'non-profit') ? (user_signed_in? and current_user.role != 'admin') ? (link_to "Favourites(#{current_user.favourites.where('status = true').count})", favourites_path, :class => "button", :rel => "tab") : ("") : "") : "") %>
        <%= (user_signed_in? ? (user_signed_in? and current_user.role != 'admin' and current_user.role != 'non-profit' and current_user.role != 'seller') ? (link_to "Your Cart(#{current_cart.line_items.count})", carts_path(current_cart), :class => "button", :id => "user_cart", :rel => "tab") : ("") : (link_to_function "Sign In", "login()", :class => "button")) %>
        <%= (user_signed_in? ? (link_to "Sign out", destroy_user_session_path, :method => 'delete', :class => "button", :id => 'sign_out') : " ") %>
      </div>
      <script>
        $("#register").click(function(){
          $("#reg").show();
        })

        $("#header_login").mouseleave(function(){
          $("#reg").hide();
        })
      </script>
      <div id="cart_expire_time"></div>
    </div>
    <div id='ajax-loader'>
      <img alt=""  src="/assets/bigger_spinner.gif" style="width:32px;height:32px;z-index:1000000;"/>
    </div>
    <div id="maincontent" style=<%= !current_user ? "width:1390px;" : 'width:955px;' %>>
      <% if !user_signed_in? %>
        <div id="category">
          <table cellspacing="30">
            <% Category.all.each do |category| %>
              <tr>
                <td><%= link_to category.name, category_path(:categories => category.id) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      <% elsif user_signed_in? and current_user.role == 'admin' %>
        <div id="category" style="margin-left: -132px;margin-top: 20px;width: 110px;">
          <ul>
            <li><%= link_to "Seller", admins_path(:role => 'seller') %></li>
            <li><%= link_to "Buyer", admins_path(:role => 'buyer') %></li>
            <li><%= link_to "Non Profit", admins_path(:role => 'non-profit') %></li>
            <li><%= link_to "Categories", categories_path, :rel => "tab" %></li>
            <li><%= link_to "Products", products_admins_path , :rel => "tab"%></li>
          </ul>
        </div>
      <% end %>
      <%= yield %>
      <a href="#" class="scrollup">Scroll</a>
    </div>
    <div id='overlay' style='filter:alpha(opacity=50);'></div>
    <div align='center' id='popup_box'>
      <div style='float: right; margin-top: -13px;margin-right:-13px'>
        <%= image_tag('/assets/closeX.gif', :onclick => "hide_popup();", :style => "cursor: pointer;")%>
      </div>
      <div id='popup_body' style='float:right'></div>
    </div>
  </body>
</html>