<!DOCTYPE html>
<html>
  <head>
    <title>Enods.com</title>
    <link rel="shortcut icon" href="/assets/favicon.ico.png" />
    <%= stylesheet_link_tag 'application','enods',"jquery.notifyBar",'uniform.default' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <% ['notice', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function () {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 3000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
  </head>
  <body onload="<%= !current_cart.new_record? ? "GetCartTimeCount('#{ (current_cart.created_at.utc+(30*60)).strftime('%Y-%m-%d %H:%M:%S') }', '#{Time.now.utc.strftime('%Y-%m-%d %H:%M:%S')}', 'cart_expire_time');" : "" %>">
    <div id="header">
      <%= link_to "ENODS.COM", index_path, :class => "logo" %>
      <div id="header_search" style="float:left;margin-left:20px;margin-top:42px;">
        <%= form_tag search_products_path, :method => 'get' do %>
          <%= text_field_tag(:query, "#{params[:query] || 'Search'}",:onFocus => "if(this.value=='Search') this.value='';",:onBlur => "if(this.value=='') this.value='Search';") %>
        <% end %>
      </div>
      <div id="header_login">
        <%= (user_signed_in? ? () : (link_to "Seller", new_user_path(:role => 'seller'), :class => "button")) %>
        <%= (user_signed_in? ? () : (link_to_function "Sign In", "login()", :class => "button")) %>
        <%= (user_signed_in? ? (link_to "Sign out", destroy_user_session_path, :method => 'delete', :class => "button", :id => 'sign_out') : " ") %>
      </div>
      <div id="cart_expire_time"></div>
    </div>
    <div id='ajax-loader'>
      <img alt=""  src="/assets/bigger_spinner.gif" style="width:32px;height:32px;z-index:1000000;"/>
    </div>
    <div id="maincontent" style='width:955px;'>
      <% if user_signed_in? %>
        <div id="category" style="margin-left: -195px;margin-top: 20px;width: 175px;">
          <ul>
            <li><%= current_user.role == 'admin' ? (link_to "Dashboard", "") : ""%></li>
            <li><%= current_user.role == 'admin' ? (link_to "Seller Management", admins_path(:role => 'seller')) : (current_user.role == 'buyer' ? (link_to "My Account", profile_profile_path(current_user)) : (link_to "Dashboard", "")) %></li>
            <li><%= current_user.role == 'admin' ? (link_to "User Management", admins_path(:role => 'buyer')) : (current_user.role == 'buyer' ? (link_to "Billing & Shipping", new_billing_shipping_address_path) : (link_to "Products Management", products_path)) %></li>
            <li><%= current_user.role == 'admin' ? (link_to "Non Profit Management", admins_path(:role => 'non-profit')) : (current_user.role == 'buyer' ? (link_to "Order History", "") : (link_to "Order & Sales Management", "")) %></li>
            <li><%= current_user.role == 'admin' ? (link_to "Categories Management", categories_path) : (current_user.role == 'buyer' ? (link_to "Invitations", invitations_path) : (link_to "Profile", profile_profile_path(current_user))) %></li>
            <li><%= current_user.role == 'admin' ? (link_to "Sales Management", products_admins_path) : () %></li>
          </ul>
        </div>
      <% end %>
      <%= yield %>
      <a href="#" class="scrollup">Scroll</a>
    </div>
    <div id='overlay' style='filter:alpha(opacity=50);'></div>
    <div align='center' id='popup_box'>
      <div style='float: right; margin-top: -13px;margin-right:-13px'>
        <%= image_tag('/assets/closeX.gif', :onclick => "hide_popup();", :style => "cursor: pointer;")%>
      </div>
      <div id='popup_body' style='float:right'></div>
    </div>
  </body>
</html>