<!DOCTYPE html>
<html>
  <head>
    <title>Enods.com</title>
    <%= stylesheet_link_tag 'default',"jquery.notifyBar" %>
    <%= javascript_include_tag 'application','/assets/carouFredSel/jquery.carouFredSel-5.6.2','/assets/slider/jquery.coda-slider-3.0.min' %>
    <%= csrf_meta_tag %>
    <% ['notice', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function() {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 3000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
  </head>
  <body onload="<%= !current_cart.new_record? ? "GetCartTimeCount('#{ (current_cart.created_at.utc+(30*60)).strftime('%Y-%m-%d %H:%M:%S') }', '#{Time.now.utc.strftime('%Y-%m-%d %H:%M:%S')}', 'cart_expire_time');" : "" %>">
    <header>
      <div class="content">
        <%= render :partial => '/layouts/header' %>
        <div id="slider">
          <div id='ajax-loader' style='z-index:1000000;'>
            <%= image_tag("/assets/284.gif", :style => 'width: 80px;height: 80px;z-index: 1000000') %>
          </div>
          <%= yield %>
        </div>
        <div class="clearFix"></div>
      </div>
    </header>
    <%= render :partial => '/layouts/footer' %>
    <div id='overlay' style='filter:alpha(opacity=50);'></div>
    <div align='center' id='popup_box'>
      <div style='float: right; margin-top: -13px;margin-right:-13px'>
      </div>
      <div id='popup_body' style='float:right'></div>
    </div>
    <%= render :partial => '/layouts/google_analytics' %>
  </body>
</html>
