<!DOCTYPE html>
<html>
  <head>
    <title>Enods.com</title>
    <%= stylesheet_link_tag 'default',"jquery.notifyBar" %>
    <%= javascript_include_tag 'application','/assets/carouFredSel/jquery.carouFredSel-5.6.2','/assets/slider/jquery.coda-slider-3.0.min' %>
    <%= csrf_meta_tag %>
    <% ['notice', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function() {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 3000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
  </head>
  <body onload="<%= !current_cart.new_record? ? "GetCartTimeCount('#{ (current_cart.created_at.utc+(30*60)).strftime('%Y-%m-%d %H:%M:%S') }', '#{Time.now.utc.strftime('%Y-%m-%d %H:%M:%S')}', 'cart_expire_time');" : "" %>">
    <header>
      <div class="content">
        <div class="topbar">
          <ul class="menu-top">
            <li><%= link_to "Sell", ""%></li>
            <li><%= link_to "About", " "%></li>
            <li><%= link_to "Causes", causess_path %></li>
            <li><%= link_to "Categories", "" %> </li>
            <li><%= link_to "Blog", "" %> </li>
            <li><%= link_to "Contact", "" %> </li>
            <li><%= link_to "Cart", carts_path %> </li>
            <li><%= link_to "Login", new_user_session_path() %></li>
          </ul>
        </div>
        <div class="commonrow">
          <%= link_to image_tag("/assets/logo.png", :id => "logo"), '/' %>
          <%= form_tag search_products_path, :method => 'get' do %>
            <%= text_field_tag :query, "", :title => "Search Items and Causes", :placeholder => "Search Items and Causes", :class => "icon-search" %>
          <% end %>
          <div class="icon-shopping" style="background-position: 120px -72px;"><%= current_cart.line_items.present? ? "#{current_cart.line_items.count} Items in Your Cart":"Your Cart Is Empty"%></div>
          <div id="cart_expire_time" style="position: relative;float: right;top: 15px;width: 213px;color: red;"></div>
        </div>
        <div class="nav-container">
          <div id="navigation">
            <ul class="list-media">
              <li class="icon-facebook"><%= link_to "facebook", "" %></li>
              <li class="icon-twitter"><%= link_to "twitter", "" %></li>
              <li class="icon-googlePlus"><%= link_to "google plus", "" %></li>
              <li class="icon-pinterest"><%= link_to "pinterest", "" %></li>
              <li class="icon-youtube"><%= link_to "you tube", "" %></li>
            </ul>
            <nav>
              <ul>
                <li><%= link_to "Sign up", new_user_path(:role => 'seller'), :class => 'lin-signup' %></li>
                <li><%= link_to "Sign In", new_user_session_path() %></li>
                <li class="parent"><a title="Categories" href="#">Categories</a>
                  <ul class="submenu">
                    <% Category.all.each do |category| %>
                      <li><%= link_to category.name, category_path(:categories => category.id) %></li>
                    <% end %>
                    <li><%= link_to "Others" , index_path %></li>
                  </ul>
                </li>
                <li class="parent"><a title="Explore Causes" href="#">Explore Causes</a>
                  <ul class="submenu">
                    <li><%= link_to "Animal Causes", all_causes_path(:cause => 'animal_cause') %></li>
                    <li><%= link_to "Human Causes", all_causes_path(:cause => 'human_cause') %></li>
                  </ul>
                </li>
                <li><%= link_to "Sell", "" %></li>
              </ul>
            </nav>
          </div>
        </div>
        <div id="slider">
          <div id='ajax-loader' style='z-index:1000000;'>
            <%= image_tag("/assets/284.gif", :style => 'width: 80px;height: 80px;z-index: 1000000') %>
          </div>
          <%= yield %>
        </div>
        <div class="clearFix"></div>
      </div>
    </header>
    <footer>
      <div class="content">
        <div class="commonrow">
          <div class="logo-footer"></div>
          <ul class="list-paymenttype">
            <li class="icon-paypal"><%= link_to "Paypal", "" %></li>
            <li class="icon-americanexp"><%= link_to "American Express", "" %></li>
            <li class="icon-discover"><%= link_to "Discover", "" %></li>
            <li class="icon-mastercard"><%= link_to "Master Card", "" %></li>
            <li class="icon-visa"><%= link_to "Visa", "" %></li>
          </ul>
        </div>
        <div class="commonrow">
          <div class="aboutusBox">
            <h2><span>About Us</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's<br> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make <br>a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining<br> essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum <br>passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem <br>Ipsum.</p>
          </div>
        </div>
        <div class="commonrow">
          <ul class="list-media-footer">
            <li class="icon-twitter"><%= link_to "twitter", "" %></li>
            <li class="icon-facebook"><%= link_to "facebook", "" %></li>
            <li class="icon-googlePlus"><%= link_to "google plus", "" %></li>
            <li class="icon-pinterest"><%= link_to "pintrest", "" %></li>
            <li class="icon-youtube"><%= link_to "you tube", "" %></li>
          </ul>
        </div>
        <div class="menu-footer">
          <ul>
            <li>
              <h4>Information</h4>
              <ul>
                <li><%= link_to "About Us", "" %></li>
                <li><%= link_to "Delivery Information", "" %></li>
                <li><%= link_to "Privacy Policy", "" %></li>
                <li><%= link_to "Terms & Condition", "" %></li>
              </ul>
            </li>
            <li>
              <h4>Customer Services</h4>
              <ul>
                <li><%= link_to "Contact Us", "" %></li>
                <li><%= link_to "Shipping Returns", "" %></li>
                <li><%= link_to "Secure Shopping", "" %></li>
              </ul>
            </li>
            <li>
              <h4>Non-Profits</h4>
              <ul>
                <li><%= link_to "Non-Profit Login", new_user_session_path() %></li>
                <li><%= link_to "Non-Profit Sign Up", new_user_path(:role => 'non-profit') %></li>
                <li><%= link_to "How it Works", "" %></li>
                <li><%= link_to "Non-Profit FAQs", "" %></li>
              </ul>
            </li>
            <li>
              <h4>My Account</h4>
              <ul>
                <li><%= link_to "My Account", "" %></li>
                <li><%= link_to "Order History", "" %></li>
                <li><%= link_to "Wishlist", "" %></li>
                <li><%= link_to "Newsletter", "" %></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="copyright">
          &copy; 2013 <span>Companyname,</span> All Rights Reserved.
        </div>
        <div class="clearFix"></div>
      </div>
    </footer>
    <div id='overlay' style='filter:alpha(opacity=50);'></div>
    <div align='center' id='popup_box'>
      <div style='float: right; margin-top: -13px;margin-right:-13px'>
      </div>
      <div id='popup_body' style='float:right'></div>
    </div>
  </body>
</html>
